@charset "UTF-8";
/*
// Unused colors
#f2f5f4 	Standard-Schriftfarbe 	#f2f5f4 	Formate
#f7c516 	Gelb vom pr0mium-Post 	#f7c516 	Formate
#222222 	pr0mium-Auswahlteile 	#222222 	Formate
#ff0082 	Altes pr0gramm <3 	#ff0082 	Formate
*/
::placeholder {
  color: #666;
}

button, input, textarea {
  font-family: sans-serif;
  background-color: #1b1e1f;
  color: #bbb;
  border: 0;
  border-radius: 0;
  padding: 5px;
  appearance: none;
  outline: none;
}
button:disabled, input:disabled, textarea:disabled {
  background-color: #666 !important;
  color: #888 !important;
  cursor: default;
}
button:focus, button:focus-within, input:focus, input:focus-within, textarea:focus, textarea:focus-within {
  background-color: #212425;
  color: #f5f7f6;
}
button::-moz-focus-inner, input::-moz-focus-inner, textarea::-moz-focus-inner {
  border: 0;
}

textarea {
  width: 100%;
  margin-bottom: 12px;
}
textarea:invalid {
  outline: none;
  box-shadow: none;
}

button,
input[type=button],
input[type=submit] {
  background-color: var(--primary-color);
  padding: 8px 8px 6px 8px;
  margin: 0;
  color: #f5f7f6;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}
button.large,
input[type=button].large,
input[type=submit].large {
  margin: 32px 0 0 0;
  width: 300px;
  padding: 12px;
  font-size: 16px;
}
button.secondary,
input[type=button].secondary,
input[type=submit].secondary {
  background-color: #212425;
  color: #888;
}
button:hover, button:focus,
input[type=button]:hover,
input[type=button]:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  outline: none;
  text-shadow: none;
  color: #555;
  background-color: #f5f7f6;
}

input[type=range] {
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-thumb {
  cursor: pointer;
  width: 3px;
  height: 14px;
  box-shadow: none;
  border: none;
  border-radius: 7px;
  background: #fff;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  width: 3px;
  height: 14px;
  margin-top: -6px;
  box-shadow: none;
  border: none;
  border-radius: 7px;
  background: #fff;
}
input[type=range]::-moz-range-track {
  cursor: pointer;
  width: 100%;
  height: 2px;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  background: #fff;
}
input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  width: 100%;
  height: 2px;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  background: #fff;
}

label {
  cursor: pointer;
}
label > input[type=checkbox], label > input[type=radio] {
  display: none;
}
label > input[type=checkbox] + span, label > input[type=radio] + span {
  position: relative;
  padding-left: 18px;
  margin: 4px 4px;
}
label > input[type=checkbox] + span::before, label > input[type=radio] + span::before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #f5f7f6;
}
label > input[type=checkbox]:checked + span::before, label > input[type=radio]:checked + span::before {
  background-color: #f5f7f6;
}

hr {
  border: none;
  border-top: 1px solid #252525;
}

code {
  padding: 16px;
  display: block;
  background-color: #1e1e1e;
}

details {
  padding-left: 24px;
}
details summary {
  margin-left: -24px;
  cursor: pointer;
  list-style-type: none;
}
details summary::-webkit-details-marker {
  display: none;
}
details summary::marker {
  display: none;
}
details summary::before {
  color: var(--primary-color);
  display: inline-block;
  width: 18px;
  margin-right: 6px;
  text-align: center;
  content: "[+]";
}
details[open] summary::before {
  content: "[-]";
}
details[open] summary ~ * {
  animation: open 0.25s ease;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
a {
  color: var(--secondary-color);
  text-decoration: none;
}
a.action {
  color: var(--primary-color);
}
a.action.serious::before {
  content: "[";
  color: #666;
}
a.action.serious::after {
  content: "]";
  color: #666;
}
a:hover {
  cursor: pointer;
  color: #f5f7f6;
}
a.nav-link {
  color: #fff;
}
a.nav-link:hover, a.nav-link.active {
  color: var(--primary-color);
}
a.user:hover, a.user.active {
  color: var(--secondary-color);
}

.navbar {
  height: 52px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0 16px;
}
.navbar.fixed {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
}
.navbar .brand {
  margin-right: 16px;
}

@supports (backdrop-filter: blur()) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(30px);
  }
}
@media only screen and (min-width: 600px) {
  .navbar.with-shadow {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 20px -10px;
  }
}
.adjust-for-fixed-navbar {
  margin-top: 52px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.separator::before, .separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #252525;
}
.separator::before {
  margin-right: 0.3em;
}
.separator::after {
  margin-left: 0.3em;
}

.vote {
  --plus-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><defs/><path d="M50 0Q39.6 0 30.5 4q-9.1 3.8-15.9 10.7Q8 21.5 4 30.6 0 39.7 0 50q0 10.3 4 19.4 3.9 9.1 10.6 16 6.8 6.8 16 10.7 9 3.9 19.4 3.9 10.4 0 19.5-4 9.1-3.8 15.9-10.7Q92 78.5 96 69.4 100 60.3 100 50q0-10.3-4-19.4-3.9-9.1-10.6-16-6.8-6.8-16-10.7Q60.5 0 50 0zm0 92.3q-8.8 0-16.5-3.3-7.7-3.3-13.4-9.1-5.8-5.8-9.1-13.5T7.7 50q0-8.7 3.3-16.4 3.3-7.7 9-13.5 5.8-5.7 13.5-9Q41.2 7.7 50 7.7t16.5 3.4q7.7 3.3 13.4 9Q85.7 26 89 33.6T92.3 50q0 8.7-3.3 16.4-3.3 7.7-9 13.5-5.8 5.8-13.5 9-7.7 3.4-16.5 3.4zM54 54v16.7q0 1.7-1.2 2-1.2.3-2.8.3-1.6 0-2.8-.3-1.2-.3-1.2-2V54H29.3q-1.6 0-2-1.2-.4-1.1-.4-2.8 0-1.7.4-2.8.4-1.1 2-1.1H46V29.3q0-1.7 1.2-2 1.2-.3 2.8-.3 1.6 0 2.8.3 1.2.3 1.2 2v16.8h16.8q1.5 0 2 1.1.3 1.1.3 2.8 0 1.7-.4 2.8-.4 1.2-2 1.2z"/></svg>');
  --minus-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><defs/><path d="M50 0Q39.7 0 30.6 4q-9.1 3.9-16 10.7Q8 21.5 4 30.6 0 39.6 0 50q0 10.3 4 19.4 3.9 9.1 10.7 16Q21.5 92 30.6 96q9 3.9 19.4 3.9 10.3 0 19.4-4 9.1-3.9 16-10.7Q92 78.5 96 69.4q3.9-9 3.9-19.4 0-10.3-4-19.4-3.9-9.1-10.7-16Q78.5 8 69.4 4 60.4 0 50 0zm0 92.3q-8.8 0-16.5-3.3-7.7-3.4-13.4-9.1-5.7-5.8-9-13.5Q7.6 58.8 7.6 50q0-8.8 3.3-16.5 3.4-7.7 9-13.4 5.8-5.7 13.5-9Q41.2 7.6 50 7.6T66.4 11q7.7 3.4 13.5 9 5.7 5.8 9 13.5 3.4 7.7 3.4 16.5T89 66.4q-3.4 7.7-9.1 13.5-5.8 5.7-13.5 9-7.6 3.4-16.4 3.4zM46 54H29.3q-1.6 0-2-1-.4-1.2-.4-2.9t.4-2.9q.4-1.1 2-1.1h41.4q1.6 0 2 1.1.3 1.2.3 2.9t-.3 2.8q-.4 1.1-2 1.1z"/></svg>');
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #888;
  border: none;
  padding: 0;
  line-height: normal;
  vertical-align: middle;
}
.vote.interactive:hover, .vote.interactive:focus {
  cursor: pointer;
  background: var(--primary-color);
}
.vote.plus {
  -webkit-mask: var(--plus-image);
  mask: var(--plus-image);
  -webkit-mask-size: contain;
  mask-size: contain;
}
.vote.minus {
  -webkit-mask: var(--minus-image);
  mask: var(--minus-image);
  -webkit-mask-size: contain;
  mask-size: contain;
}

.tag {
  font-size: 12px;
  background-color: #2a2e31;
  display: inline-block;
  padding: 2px 10px;
  margin: 0px 6px 6px 0;
  border-radius: 10px;
  color: #f5f7f6;
}
.tag a {
  color: #f5f7f6;
}
.tag a[class|=vote] {
  padding: 0 2px;
  color: #888;
}
.tag a[class|=vote]:hover {
  color: var(--primary-color);
}
.tag a:hover, .tag a:focus {
  color: var(--secondary-color);
}

.user.op::before {
  content: "OP";
  background-color: var(--primary-color);
  padding: 0px 6px;
  margin-right: 4px;
  vertical-align: baseline;
  text-align: center;
  font-weight: bold;
  border-radius: 0.25em;
}
.user[data-mark] {
  color: #f5f7f6;
}
.user[data-mark]::after {
  content: "●";
  margin-left: 0.4em;
}
.user[data-mark][data-mark="0"]::after {
  color: #fff;
}
.user[data-mark][data-mark="1"]::after {
  color: #e108e9;
}
.user[data-mark][data-mark="2"]::after {
  color: #5bb91c;
}
.user[data-mark][data-mark="3"]::after {
  color: #ff9900;
}
.user[data-mark][data-mark="4"]::after {
  color: #444;
}
.user[data-mark][data-mark="5"]::after {
  color: #008fff;
}
.user[data-mark][data-mark="6"]::after {
  color: #6c432b;
}
.user[data-mark][data-mark="7"]::after {
  color: #1cb992;
  content: "◆";
}
.user[data-mark][data-mark="8"]::after {
  color: #ee4d2e;
  content: "▧";
}
.user[data-mark][data-mark="9"]::after {
  color: #1cb992;
}
.user[data-mark][data-mark="10"]::after {
  color: #addc8d;
}
.user[data-mark][data-mark="11"]::after {
  color: #7fc7ff;
}
.user[data-mark][data-mark="12"]::after {
  color: #c52b2f;
  content: "❤";
}
.user[data-mark][data-mark="13"]::after {
  color: #10366f;
}
.user[data-mark][data-mark="14"]::after {
  color: #ffc166;
}
.user[class*=um] {
  color: #f5f7f6;
}
.user[class*=um][class*=um]::after {
  content: "●";
  margin-left: 0.4em;
}
.user.um0::after {
  color: #fff;
}
.user.um1::after {
  color: #e108e9;
}
.user.um2::after {
  color: #5bb91c;
}
.user.um3::after {
  color: #ff9900;
}
.user.um4::after {
  color: #444;
}
.user.um5::after {
  color: #008fff;
}
.user.um6::after {
  color: #6c432b;
}
.user.um7::after {
  color: #1cb992;
  content: "◆";
}
.user.um8::after {
  color: #ee4d2e;
  content: "▧";
}
.user.um9::after {
  color: #1cb992;
}
.user.um10::after {
  color: #addc8d;
}
.user.um11::after {
  color: #7fc7ff;
}
.user.um12::after {
  color: #c52b2f;
  content: "❤";
}
.user.um13::after {
  color: #10366f;
}
.user.um14::after {
  color: #ffc166;
}

:root {
  --primary-color: #ee4d2e;
  --secondary-color: #75c0c7;
  --pr0gramm-background-color: #161618;
  --pr0gramm-font-family: Helvetica Neue, Helvetica, Bitstream Vera Sans, DejaVu Sans, sans-serif;
  --theme-color-primary-0: #ee4d2e;
  --theme-color-primary-1: #1db992;
  --theme-color-primary-2: #bfbc06;
  --theme-color-primary-3: #008fff;
  --theme-color-primary-4: #ff0082;
  --theme-color-secondary-0: #75c0c7;
  --theme-color-secondary-1: #1b9677;
  --theme-color-secondary-2: #b0ad05;
  --theme-color-secondary-3: #36a7ff;
  --theme-color-secondary-4: #f90081;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--pr0gramm-font-family);
  background-color: var(--pr0gramm-background-color);
  color: #f2f5f4;
  line-height: 1.3;
  font-size: 14px;
}
