.vote {
	$default-vote-icon-size: 20px;

	display: inline-block;
	width: $default-vote-icon-size;
	height: $default-vote-icon-size;

	background: $text-muted;
	border: none;
	padding: 0;
	line-height: normal;
	vertical-align: middle;

	&.interactive:hover, &.interactive:focus {
		cursor: pointer;

		background: var(--primary-color);
	}

	&.plus {
		-webkit-mask: var(--plus-image);
		mask: var(--plus-image);

		-webkit-mask-size: contain;
		mask-size: contain;
	}

	&.minus {
		-webkit-mask: var(--minus-image);
		mask: var(--minus-image);

		-webkit-mask-size: contain;
		mask-size: contain;
	}
}
